<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Information</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
  </ion-header-bar>
  <ion-tabs class="tabs-item-hide">

    <ion-tab title="Population" icon="ion-android-people">
      <ion-floating-button ng-click="share()" has-footer="true" button-color="#444" icon="ion-forward" icon-color="#FFF">
      </ion-floating-button>
      <section ng-include="'app/partials/tabs-popn.html'"></section>      
    </ion-tab>

    <ion-tab title="Buildings" icon="ion-cube">
      <ion-floating-button ng-click="share()" has-footer="true" button-color="#444" icon="ion-forward" icon-color="#FFF">
      </ion-floating-button>
      <section ng-include="'app/partials/tabs-bldg.html'"></section>        
    </ion-tab> 

  </ion-tabs>
</ion-modal-view>