<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Information</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
  </ion-header-bar>
  <ion-tabs class="tabs-item-hide">

    <ion-tab title="Population" icon="ion-android-people">
      <ion-floating-button ng-click="share()" has-footer="true" button-color="#444" icon="ion-forward" icon-color="#FFF">
      </ion-floating-button>
      <section ng-include="'app/partials/tabs-popn.html'"></section>      
    </ion-tab>

    <ion-tab title="Buildings" icon="ion-cube">
      <ion-floating-button ng-click="share()" has-footer="true" button-color="#444" icon="ion-forward" icon-color="#FFF">
      </ion-floating-button>
      <section ng-include="'app/partials/tabs-bldg.html'"></section>        
    </ion-tab> 

  </ion-tabs>
</ion-modal-view>

<!-- Remaining tasks
1. For data in needs and building types, it should be checked whether they're null or not
  - if any is null, define it as 0
  - do this before the chart update functions
  - if not fixed, the modal will show weird data (i.e. symbols like [] or no data at all)
2. "Go to current location" button on the floating menu still doesn't do anything
3. "About" on the sidemenu is still empty besides that one filler sentence


Issues
1. Sometimes the layout messes up for some unknown reason. Not sure of the reason.
 -->