<ion-header-bar class="bar-subheader bar-dark padding">
  <span> In the event of a <b> {{ params.hazard }} </b> in <b> {{ params.location }}</b>, how many buildings might be flooded? </span>
</ion-header-bar> -->

<ion-content>
  <ion-item class="no-padding item-borderless full-view" ng-show="tabs.landing == 'summary'">
    <div class="list-inset landing-content-padding">
      <div class="row">
        <div class="col summary-img-col" style="background-image: url('img/buildings/infrastructure_building.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.bldTotal}} </h1> Total Buildings <br> Affected
        </div>
      </div>

      <highchart id="chart2" config="chartConfig2" class="span10"></highchart> 
    </div>
  </ion-item>
</ion-content>

<ion-content>
  <ion-item class="list landing item-borderless full-view" ng-show="tabs.landing == 'needs'">
    <div class="list list-inset landing-content-padding full-view" style="overflow: scroll;">

      <ion-item class="row" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_school.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.school}} </h1> School
        </div>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="school in schoolsAffected" ng-show="isGroupShown(1)">
        {{school}}
      </ion-item>

      <ion-item class="row" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_house.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.residential}} </h1> Residential
        </div>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="residential in residentialsAffected" ng-show="isGroupShown(2)">
        {{residential}}
      </ion-item>

      <ion-item class="row" ng-click="toggleGroup(3)" ng-class="{active: isGroupShown(3)}">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_government.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.government}} </h1> Government
        </div>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="government in governmentAffected" ng-show="isGroupShown(3)">
        {{government}}
      </ion-item>

      <ion-item class="row" ng-click="toggleGroup(4)" ng-class="{active: isGroupShown(4)}">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_hospital.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.hospital}} </h1> Hospital
        </div>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="hospital in hospitalsAffected" ng-show="isGroupShown(4)">
        {{hospital}}
      </ion-item>

      <ion-item class="row" ng-click="toggleGroup(5)" ng-class="{active: isGroupShown(5)}">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_church.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.church}} </h1> Church
        </div>
      </ion-item>
      <ion-item class="item-accordion" ng-repeat="church in churchesAffected" ng-show="isGroupShown(5)">
        {{church}}
      </ion-item>

      <div class="row">
        <div class="col img-col" style="background-image: url('img/buildings/infrastructure_building.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.others}} </h1> Other
        </div>
      </div>

    </div>
  </ion-item>
</ion-content>

<ion-footer-bar class="bar bar-dark">
  <label class="item item-radio button button-icon custom-tab">
    <input type="radio" ng-model="tabs.landing" ng-value="'summary'">  
    <i class="icon ion-clipboard icon-text-padding"> </i>
    <span> Summary </span>
  </label>

  <label class="item item-radio button button-icon custom-tab">
    <input type="radio" ng-model="tabs.landing" ng-value="'needs'">  
    <i class="icon ion-stats-bars icon-text-padding"> </i>
    <span> Types </span>
  </label>     
</ion-footer-bar>