<ion-item class="no-padding button-bar button-bar-bborder fixed-header">
  <label class="item item-radio button button-icon">
    <input type="radio" ng-model="tabs.landing" ng-value="'summary'">  
    <i class="icon ion-clipboard icon-text-padding"> </i>
    <span> Summary </span>
  </label>

  <label class="item item-radio button button-icon">
    <input type="radio" ng-model="tabs.landing" ng-value="'needs'">  
    <i class="icon ion-medkit icon-text-padding"> </i>
    <span> Needs </span>
  </label>
</ion-item>

<ion-content class="below-header">
  <ion-item class="no-padding item-borderless full-view" ng-show="tabs.landing == 'summary'">
    <div class="list list-inset landing-content-padding">    
      <div class="row">
        <div class="col summary-img-col" style="background-image: url('img/needs/people_affected.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.popTotal}} </h1> Total Population <br> Affected
        </div>
      </div>
      
      <highchart id="chart1" config="chartConfig1" class="span10"></highchart>
    </div>
  </ion-item>  

  <ion-item class="list landing item-borderless full-view" ng-show="tabs.landing == 'needs'">         
    <div class="list list-inset landing-content-padding full-view">      

      <div class="row">
        <div class="col img-col" style="background-image: url('img/needs/needs_rice.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.rice}} </h1> Rice
        </div>
      </div>

      <div class="row">
        <div class="col img-col" style="background-image: url('img/needs/needs_kits.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.kits}} </h1> Family Kits
        </div>
      </div>

      <div class="row">
        <div class="col img-col" style="background-image: url('img/needs/needs_water.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.cleanWater}} </h1> Clean Water
        </div>
      </div>

      <div class="row">
        <div class="col img-col" style="background-image: url('img/needs/needs_drinking-water.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.drinkingWater}} </h1> Drinking Water
        </div>
      </div>

      <div class="row">
        <div class="col img-col" style="background-image: url('img/needs/needs_toilets.png')"> </div>
        <div class="col text-col">
          <h1 class="title"> {{showData.toilets}} </h1> Toilets
        </div>
      </div>

    </div>
  </ion-item>
</ion-content>