<ion-side-menus enable-menu-with-back-views="false" ng-init="loadData()">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>


  <!-- Left menu -->
  <ion-side-menu side="left" class="sidemenu-bgcolor">
  <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">Welcome</h1>
  </ion-header-bar>

  <ion-content>
   <ion-item>
    <!-- <select ng-model="locations.selected" ng-options="loc for loc in locations" value="">
      <option selected value="" disabled="true"> Select Location </option>
    </select>  -->
     <div class="item">
            <ion-search-select options="locations" option-selected="locations.selected">
              <label class="item item-input-inset" style="border:none;padding: 0px;cursor: pointer;">
                <div class="item-input-wrapper">
                  <i class="icon ion-ios-search"></i>
                  <input type="text" ng-model="locations.selected" placeholder="Search Locations" disabled>
                </div>
              </label>
            </ion-search-select>
          </div>
    </ion-item>

    <ion-item>
    <select ng-model="locations.hazard">
      <option selected value="" disabled="true"> Select Hazard </option>
      <option value="flood_5">5-year Flood</option>
      <option value="flood_25">25-year Flood</option>
      <option value="flood_100">100-year Flood</option>
    </select>
    </ion-item>

    <ion-item>
    <select ng-model="locations.exposure">
      <option selected value="" disabled="true"> Select Exposure </option>
      <option value="popn">Population</option>
      <option value="bldg">Buildings</option>
    </select>
    </ion-item>


  <div class="question-padding">
        <button class="button button-positive buttonchoose" style="float: center" ng-click="calculate()" menu-close> Display on Map
        </button>
  </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>

<!-- modal -->
<script id="templates/searchSelect.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar>
          <button class="button button-icon ion-close" ng-click="closeModal();"></button>
          <h1 class="title" style="right: 0 !important;" ng-if="searchSelect.enableSearch">
            <label class="item item-icon-left" style="height: 100%;top: -6px;padding: 0px 0px 0px 32px !important;">
              <i class="icon ion-android-search" style="font-size: 20px; left: 0 !important;top: 7px;"></i>
              <input type="text" placeholder="{{searchSelect.title}}" ng-model="searchSelect.searchvalue" style="width: 90%;height: 100%;margin-top: 7px;" />
            </label>
            <i ng-if="searchSelect.searchvalue.length > 0" on-tap="clearSearch()" class="icon ion-close" style="top:0px;right: 0px;position:absolute;cursor:pointer;z-index: 2;"></i>
          </h1>
          <h1 class="title" ng-if="!searchSelect.enableSearch">{{ searchSelect.title }}</h1>
        </ion-header-bar>
      <ion-content>
          <div class="list">
            <div ng-if="searchSelect.keyProperty && searchSelect.valueProperty">
              <ion-radio collection-repeat="option in options | filter: searchSelect.searchvalue" item-height="55px" item-width="100%" ng-value="option[searchSelect.keyProperty]" ng-click="saveOption()" ng-checked="option[searchSelect.selectedProperty]" ng-model="searchSelect.option">
                  {{ option[searchSelect.valueProperty] }}
              </ion-radio>
            </div>
            <div ng-if="!searchSelect.keyProperty || !searchSelect.valueProperty">
              <ion-radio collection-repeat="option in options | filter: searchSelect.searchvalue" item-height="55px" ng-value="option" item-width="100%" ng-click="saveOption()" ng-model="searchSelect.option">
                  {{ option }}
              </ion-radio>
            </div>
          </div>
      </ion-content>
    </ion-modal-view>
    </script>